.site-title {
   font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
margin-bottom: 2rem;
}

@media(min-width:1280px) {
    .site-title {
        font-size:4.6em;
        line-height: 1.1;
        
    }
}